<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/github-fork-ribbon-css/gh-fork-ribbon.css">
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <link rel="stylesheet" href="izitoast/dist/css/iziToast.min.css">
    <script type="text/javascript" src="izitoast/dist/js/iziToast.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="salas.js"></script>
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
</head>

<body ng-app="salas" ng-controller="mainController" style="font-family: 'Segoe UI'; font-weight: lighter;"
    ng-init="carregarHistorico()">

    <a class="github-fork-ribbon" href="https://github.com/renanrosalojasmm/salas" data-ribbon="Fork me on GitHub"
        title="Fork me on GitHub">Fork me on GitHub</a>

    <div class="
    container-fluid" style="padding-left: 0px !important; padding-right: 0 !important">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light"
                    style="background-color: #24292e !important; height: 10%;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="#" style="color: white !important"><b><label
                                style="color: red">MM</label>Labs</b> - Salas de
                        Homologação</a>

                    <ul class="navbar-nav ml-md-auto" style="padding-right: 100px">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" ng-click="carregarHistorico()" data-toggle="modal"
                                data-target="#myModal" style="color: white !important">Histórico <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" ng-click="carregarAjuda()" data-toggle="modal"
                                data-target="#myModalAjuda" style="color: white !important">Ajuda <span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </nav>
                <div class="row">

                </div>
                <div class="row" style="background-color: #f6f8fa!important"
                    style="margin-left: 0 !important; margin-right: 0 !important">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <br>
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputBranch">
                                    URL do projeto no Github
                                </label>
                                <input type="text" ng-model="sala.projeto" class="form-control" id="exampleInputProject"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBranch">
                                    Branch
                                </label>
                                <input type="text" ng-model="sala.branch" class="form-control" id="exampleInputBranch"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputAutor">
                                    Autor
                                </label>
                                <div class="dropdown">
                                    <select class="dropdown" ng-model="autor">
                                        <option ng-repeat="x in names">{{x}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputNumber">
                                    Ordem de serviço
                                </label>
                                <input type="number" ng-model="sala.os" class="form-control" id="exampleInputNumber"
                                     />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputMessage">
                                    Descrição
                                </label>
                                <textarea class="form-control" id="exampleInputMessage" rows="4" cols="50"
                                    ng-model="sala.descricao"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="criarSala()"
                                style="background-color: #28a745; border-color: white; background-image: linear-gradient(-180deg,#34d058,#28a745 90%);">
                                Criar Sala
                            </button>
                        </form>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <footer class="page-footer font-small blue pt-4" style="color: white; background-color: black;">
            <div class="footer-copyright text-center py-3"><b>© 2020 MMLabs</b></a>
                <p></p>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="max-width: 900px">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Salas</h4>
                        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="search">
                                Pesquisar
                            </label>
                            <input type="text" ng-model="search" class="form-control" id="search" />
                        </div>
                        <ul>
                            <!-- <li ng-repeat="sala in historico | filter:search">
                                <p>
                                    <h5>Autor: {{sala.autor}}</h5>
                                </p>
                                <p>Host: <a href="{{sala.host}}" target="Salas">{{sala.host}}</a></p>
                                <p>Projeto: {{sala.projeto}}</p>
                                <p>Branch: {{sala.branch}}</p>
                                <p>OS: {{sala.os}}</p>
                                <p>Descrição: {{sala.descricao}}</p>
                                <button ng-click="excluir(sala)" type="button" class="btn btn-danger"
                                    style="background-color:#cb2431">Excluir</button>
                                <button ng-click="pull(sala)" type="button" class="btn btn-primary"
                                    style="background-color: #28a745; border-color: white; background-image: linear-gradient(-180deg,#34d058,#28a745 90%);">Pull</button>

                            </li> -->
                            <table ng-table="usersTable" class="table table-striped">
                                <tr ng-repeat="sala in historico | filter: search">
                                    <td data-title="'Autor'">{{sala.autor}}</td>
                                    <td data-title="'Host'"><a href="{{sala.host}}" target="Salas">{{sala.host}}</a>
                                    </td>
                                    <td data-title="'Branch'">{{sala.branch}}</td>
                                    <td data-title="'Comandos'">
                                        <div class="btn-group">
                                            <button ng-click="pull(sala)" type="button" class="btn btn-primary"
                                                style="background-color: #28a745; border-color: white; background-image: linear-gradient(-180deg,#34d058,#28a745 90%);">Pull</button>
                                            <button ng-click="info(sala)" type="button" class="btn btn-default"
                                                style="border-color: white; ">Info</button>
                                            <button ng-click="excluir(sala)" type="button" class="btn btn-danger"
                                                style="background-color:#cb2431; border-color: white; ">Excluir</button>
                                        </div>
                                    </td>
                                </tr>
                                <tfoot>
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                    </dir-pagination-controls>
                                </tfoot>
                            </table>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <dv class="modal fade" id="myModalAjuda" role="dialog">
            <div class="modal-dialog" style="max-width: 900px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajuda</h4>
                        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                    </div>
                    <div class="modal-body">
                        <h3>Aplicações Nodejs</h3>
                        <p>O arquivo principal da aplicação deve ser o server.js, e ele deve estar na raiz do projeto</p>
                        <p>Crie o arquivo .properties na raíz do seu projeto, crie a tag "application" e coloque a propriedade "port" e atribua a ela a porta que seu servidor irá executar.</p>
                        <p>Conforme no exemplo abaixo:</p>
                        <p>[application]</p>
                        <p>port = 18000</p>
                        <h4>Dessa forma seu app estára apto a ser executado pelo sistema de Salas</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>